{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form %}
        <div class="content-section">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset</button>
                </div>
            </form>
        </div>
    {% else %}
        <h2>Password reset process was failed</h2>
        <div class="border-top pt-2">
            <small class="text-muted">
                It seems to be your email is not registered yet
                <br>Please, <a href="{% url 'register' %}" style="margin: 0;">Sign Up</a> first
            </small>
        </div>
    {% endif %}
{% endblock content %}